body{
    font: 20px arial, sans-serif ;
}

h3{
    padding: 60px 0 60px 0;
}

h4{
    padding: 30px 0 30px 0;
    margin-bottom: 0px;
}

.navbar {
    background-color: #ffa100;
}

.quem-somos{
    background-color: aqua;
}

.parceiros{
    background-color: burlywood;
    padding-bottom: 140px;
}

.serviços{
    background-color: chartreuse;
    padding-bottom: 40px;
}   

footer{
    background-color: #ffa100;
    padding: 15px 0 5px 0;    
}

git{
    margin-right: 10px;
}

#img-git{
    text-decoration: unset;
    text-decoration: none;
}